
.img-thumbnail {
    background-color: transparent !important;
    border: transparent !important;
}
.thead-dark {
    background: #1d242d;
    color: #fff;
}
@media print {
    .left_side_bar #wrapper {
        display: none;
    }
    #footer, .btns {
        display: none;
    }
    .container {
        width: 100%;
        font-size: 80%;
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        border-top: none !important;
    }
    .img-thumbnail {
        background-color: none;
        border: none;
    }

    .thead-dark {
        background: #646e7b;
        color: #fff;
    }
    /*body {
        font-size: 80% !important;
    }*/
}

/*safari*/
@media print
{
    a[href]:after { content: none !important; }
    img[src]:after { content: none !important; }
}
/*Chrome*/
@media print {
    @page {
        size: auto;   /* auto is the initial value */
        margin: 0;  /* this affects the margin in the printer settings */
    }
}